.background {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width:800px; height:600px;
  border:2px solid red;
  background-color: gray;
}

.player {
  position:relative; top:300px; left:40px;
  width:128px; height:64px;
  background-color: black;
}

.enemy {
  position:absolute;
  width:32px; height:32px;
}

.score {
  position:relative;
  font-size: 150%;
  color: black;
}

.highScoreText {
  font-size: 200%;
  position:absolute;
  width:800px;
  height:640px;
  left:50%;
  top:50%;
  margin-left:-80px;
  margin-top:-300px;
  color: white;
}

.gameOverText {
  font-size: 500%;
  position:absolute;
  width:800px;
  height:640px;
  left:50%;
  top:50%;
  margin-left:-150px;
  margin-top:-100px;
  color: red;
}

.gameWinText {
  font-size: 500%;
  position:absolute;
  width:800px;
  height:640px;
  left:50%;
  top:50%;
  margin-left:-260px;
  margin-top:-100px;
  color: white;
}

.finalScoreText {
  font-size: 180%;
  position:absolute;
  width:800px;
  height:640px;
  left:50%;
  top:50%;
  margin-left:-50px;
  margin-top:-10px;
  color: white;
}

.waitNextTurn {
  font-size: 200%;
  position:absolute;
  width:800px;
  height:640px;
  left:50%;
  top:50%;
  margin-left:-150px;
  margin-top:100px;
  color: white;
}

.endButton {
  margin-left:360px;
  margin-top:370px;
  color: black;
}